<html>
  <header>
  </header>
  <body>
    <h2  class="text-center"><%= @restaurant.name %></h2>
    <p class="text-center"><%= @restaurant.address %></p>
    <p class="text-center"><i><%= @restaurant.category %></i></p>
      <% @restaurant.reviews.each do |review| %>
        <ul class="text-center list-unstyled"><%= review.content %><br><b>RATED:</b> <%= review.rating %></ul>
      <% end %>
    </ul>
  </body>
</html>
