<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="navbar-wagon">
      <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!-- Links -->
      <%= link_to "Home", restaurants_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Add Restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <h1> Restaurants </h1>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
